[Unit]
Description=Prune pnpm store
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
WorkingDirectory=%h
Environment=PNPM_HOME=/home/adharsh/.local/share/pnpm
Environment=PATH=/home/adharsh/.local/share/pnpm/bin:/home/adharsh/.local/share/fnm/aliases/default/bin:/usr/bin:/bin
ExecStart=/bin/bash -c 'pnpm store prune'
