# Ignore all files in the bin directory
bin/*

# But don't ignore these specific files
!bin/aider
!bin/cl
!bin/csvfmt
!bin/deadlines
!bin/sgpt
!bin/subtasks
!bin/gsm

# Ignore credentials directory
/credentials
