# Ignore all files in the bin directory
/bin/*

# But don't ignore these specific files
/!bin/aider
/!bin/cl
/!bin/csvfmt
/!bin/deadlines
/!bin/sgpt
/!bin/subtasks
/!bin/gsm

# Ignore .screenshot_save_config
/.screenshot_save_config

# Ignore .api_keys file
/.api_keys

# Ignore credentials directory
/credentials

# Ignore pycache
__pycache__/
